.DS_Store
emotion-classification/.ipynb_checkpoints/emotion_classification-checkpoint.ipynb
/emotion_classification/.ipynb_checkpoints
.env
.env.yaml
.env.sample
.envrc

# System files
.ipynb_checkpoints/
*.pyc
*.pyo
*.swp
*.iml
*.vscode
*.egg-info

# Data files

# Other
.personal
dreamscope_backend/data/abstract_art_512/
